<div class="hero">
  <h1>Ideenboard</h1>
  <p>Teilen Sie Ihre Visionen und gestalten Sie die Zukunft mit</p>
  <%= if @user do %>
    <a href="/ideas" class="btn accent">Zu den Ideen</a>
  <% else %>
    <a href="/users/auth" class="btn accent">Anmelden</a>
  <% end %>
</div>
