<h1>Dashboard</h1>
<div class="dashboard-stats">
  <p>Ideen insgesamt: <%= @total_ideas %></p>
  <p>Benutzer insgesamt: <%= @total_users %></p>
  <p>Meine Ideen: <%= @my_ideas %></p>
  <p>Meine Punkte: <%= @my_points %></p>
</div>
