<h1>Nachrichten</h1>
<div id="dms-page" hx-ext="ws" ws-connect="/ws">
  <div class="conversations-list">
    <%= for conv <- @conversations do %>
      <div class="conversation-item">
        <span><%= conv.user1_username %> / <%= conv.user2_username %></span>
      </div>
    <% end %>
  </div>
</div>
